
.header {
    background: white;
}

.slider {
    background: #fbc02d;
}

.content {
    background: white;
    display: flex;
    justify-content: center;
}

.content .col-1-2{ 
    margin: 10px;
    background: red;
    width: 100%;
    height: 100px;
    padding: 20px;
}

.footer {
    background: #424242;
}
